.main-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.mobile-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
    margin: 80px 50px;
    padding-left: 30px;
}
@media screen and (max-width:600px) {
    .mobile-container{
    grid-template-columns:repeat(1,1fr);
    }
}
.cart-container{
    background-color: rgb(20, 220, 137);
    margin-left: 5px;
    color: antiquewhite;
    padding-right: 30px;
    margin-right: 20px;
}
.cart-container:hover{
    background-color:orangered;
}